.Home_alpha__18h1t {
    height: 100%;
    background-color: rgba(250,250,250,.8);
    position: absolute;
    z-index: 0
}

.Home_alpha__18h1t,.Home_headLine__3ypwZ {
    width: 100%;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s
}

.Home_headLine__3ypwZ {
    text-align: center;
    font-weight: 700;
    z-index: 1;
    min-height: 100vh;
    opacity: 0
}

.Home_h1__3qonH {
    font-size: 18vw;
    line-height: 20vw;
    padding-top: calc((100vh - 20vw)/2);
    color: #222
}

.Home_h1__3qonH,.Home_h2__ZAXUd {
    z-index: 0;
    background-color: rgba(250,250,250,.8)
}

.Home_h2__ZAXUd {
    font-size: 8vw;
    line-height: 12vw;
    padding-top: calc((100vh - 24vw)/2);
    color: #333;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s
}

.Home_title__3DjR7 {
    font-size: 18vw;
    line-height: 20vw;
    padding-top: 75vw;
    color: #222;
    z-index: 0;
    background-color: none
}

.Home_logo__1YbrH {
    background-color: #fff
}

.Home_titlewrap__3I_tr {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    background-color: #fff
}

.Home_wrapper__3EDsh {
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: -webit-box;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    background-attachment: fixed;
    position: relative
}

.Home_p1text__23NJh {
    text-align: center;
    white-space: pre-line
}

.Home_before__3aKPz {
    opacity: .2
}

.Home_before__3aKPz,.Home_fadein__2BuUA {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    width: 80vw
}

.Home_fadein__2BuUA {
    color: #555;
    font-size: min(5vw,5vh);
    margin-left: 10%;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: Home_fadein__2BuUA;
    -moz-animation-name: Home_fadein__2BuUA;
    animation-name: Home_fadein__2BuUA
}

.Home_after__3lzA_ {
    opacity: 1
}

.Home_white__Aw9X7 {
    background-color: #fff;
    margin-left: 0;
    width: 100%
}

.Home_form__1fOyp {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    color: #eee;
    font-size: min(5vw,5vh)
}

.Home_form__1fOyp>div {
    display: block
}

.Home_formContent__26piS>* {
    display: block;
    margin: 2vh;
    width: 80vw;
    font-size: min(4vw,4vh);
    color: #ddd
}

.Home_formContent__26piS>textarea {
    height: 20vh
}

.Home_formContent__26piS>input,.Home_formContent__26piS>textarea {
    color: #333;
    border-radius: 3px
}

.Home_formContent__26piS>input[type=submit] {
    width: 14vw;
    height: 5vw;
    font-size: 3vw;
    line-height: 4.5vw;
    margin-left: 35vw;
    border-radius: 5px;
    background-color: #222;
    border: 2px solid #ddd;
    color: #eee
}

.Home_formContent__26piS>input[type=submit],.Home_formContent__26piS>input[type=submit]:disabled {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-animation-name: Home_fadin__3VkWI;
    -moz-animation-name: Home_fadin__3VkWI;
    animation-name: Home_fadin__3VkWI
}

.Home_formContent__26piS>input[type=submit]:disabled {
    color: #555;
    border: #555;
    background-color: #ddd
}

.Home_formContent__26piS>p {
    color: #e22
}

.Home_modal__1PpCQ {
    background-color: #fff;
    width: 80vw;
    height: max(6vw,6vh);
    text-align: center;
    line-height: max(6vw,6vh);
    margin-left: 10vw;
    margin-top: 47vh;
    border-radius: 6px;
    font-size: min(5vw,5vh)
}

.Home_a__3eaqf:hover {
    color: #59e
}

.Home_a__3eaqf {
    text-decoration: underline;
    display: block;
    margin-top: 20px;
    text-align: center
}
